.hero {
    height: 100vh;
    background: linear-gradient(to bottom, #1abc9c, #a1ccc5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .hero-content p {
    font-size: 1.5rem;
  }
  